<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <title>manipulateString</title>
  </head>

  <!-- <body>
    <h1>String Manipulator</h1>
    <input id="TekstInput" v-model="input" />
    <select id="Selector" v-model="selected">
      <option>Lower Case</option>
      <option>Upper Case</option>
    </select>
    <button @click="Manipulate" id="Manipulator">Manipulate this shit</button>

    <div v-model="content" id="content">
      <!-- <span>{{ content }}</span> -->
    </div>

    <script src="bundle.js"></script>
  </body> -->


  <body>
    <div>
      <h1>String Manipulation</h1>
      <input id="TekstInput">
      <select id="Selector">
        <option>make BIG</option>
        <option>make smoll</option>
      </select>
      <button id="Manipulate">MANIPULATE SPACE AND TIME</button>
    </div>
  
    <div id="content"></div>
  
  
    <script src="bundle.js"></script>
  </body>
</html>
